body {
    margin: 0;
    background: linear-gradient(to left, #d81ffa, #26b8e4, #26b8e4, #d81ffa);
    font-family: Roboto, Arial, sans-serif;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.border {
    margin-top: 18%;
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 0 2% ;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    font-size: 17px;
}

label input, label textarea {
    margin: 2% 0 ;
    font-size: 17px;
    padding: 3px;
    border: 2px solid #1e1e1e;
}

.title {
    margin-top: 5%;
    margin-bottom: 7%;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
