body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    color: #F2F2F2;
    background-color: #5c5c5c;
}

.Title {
    background-color: #727272;
    padding: 20px;
    margin: 50px;
    align-items: center;
    justify-content: center;
}

header h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

header h2 {
    margin: 0;
    text-align: center;
    font-size: 25px;
}

section {
    display: flex;
    background-color: #CCCCCC;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.img_principal {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid #2c2c2c;
    box-shadow: 7px 7px 50px #2c2c2c;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #727272;
    color: #CCCCCC;
}

.img_principal img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    color: #1e1e1e;
}

.bio h1 {
    font-size: 30px;
    font-weight: bold;
}

.bio p {
    font-size: 25px;
    line-height: 50px;
}

.container {
    margin: 0 100px 0 100px;
}

footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    color: #F2F2F2;
    height: 50px;
    text-align: center;
    font-size: 20px;
}

 .footer a {
     color: #F2F2F2;
    text-decoration: none;
}
 .footer a:hover {
     text-decoration: underline;
 }