body {
    margin: 0;
}

.exemplo {
    width: 150px;
    height: 150px;
    background-color: green;
    margin: 100px auto auto;
    transition: all 1s linear;
}

.exemplo:hover {
    width: 300px;
    background-color: red;
}

a {
    color: black;
    transition: all 0.5s linear;
}

a:hover {
    color: #FF0000;
}
